body{

    background-size: cover;

    background-repeat: no-repeat;

}

#span_timer{

    margin-left: 1250px;

    font-size:30;

    font-family: 'Oswald', sans-serif;

    color:#00bfff;

}
#span_score{

    margin-left: 250px;

    font-size:30;

    font-family: 'Oswald', sans-serif;

    color:#00bfff;

}
p{

    font-size: 30;

    font-family: 'Oswald', sans-serif;

    color:#00bfff;

}

canvas{
    
    border: 5px solid white;

    border-radius: 20px;

    animation-name: example;

    animation-duration: 4s;

    margin-top: 200px;

    animation-iteration-count: infinite;

}

@keyframes example {

    from{box-shadow: 1px 1px 38px #0080ff;}

    to{box-shadow: 1px 1px 38px #ff0040;}
    
}

#show_sketch{

    float: right;

    background-color: #ff0080;

}

h1{
    width: 30%;
}

#cc{

margin-top: 450px;

}